<html>
<head>

	<style>
	td {
		padding: 5px;
		text-align: right;
	}
	th {
		padding-left: 10px;
		padding-right: 10px;
	}
</style>

</head>

<body>

<h1> My Notes </h1>

{% for note in notes %}
<h2>{{ note.title }}</h2>
<p>{{ note.date }}</p>
<p>{{ note.content | safe }}</p>
{% endfor %}

<script src="/static/main.js"></script>

</body>

</html>
